<div id="footer" class="row">
    <div class="l-4 footer-item">
        <img class="sub_logo" src="img/Car360.png" alt="">
        <p>Công ty TNHH Kinh doanh Thương mại và dịch vụ Car360.</p>
        <p><b>Số đăng ký kinh doanh: </b>01012001.</p>
        <p><b>Địa chỉ: </b>112/12 Hưng Lợi, Ninh Kiều, Cần Thơ.</p>
    </div>
    <div class="l-4 footer-item">
        <h2>Thông tin hỗ trợ</h2>
        <ul>
            <li><a href="">Câu hỏi thường gặp</a></li>
            <li><a href="">Hệ thống showroom và đại lý</a></li>
            <li><a href="">Đặt lịch bảo dưỡng</a></li>
            <li><a href="">Xu hướng chung</a></li>
            <li><a class="hotline" href="">Hotline</a></li>
        </ul>
    </div>
    <div class="l-4 footer-item">
        <h2>Liên kết với chúng tôi</h2>
        <ul>
            <li><a href="#"><i class="icon fa-brands fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="icon fa-brands fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="icon fa-brands fa-youtube-square"></i></a></li>
            <li><a href="#"><i class="icon fa-brands fa-instagram-square"></i></a></li>
        </ul>
    </div>
</div>