<div id="header">
  <a href="home.html"><img src="https://vinfastauto.com/themes/porto/img/logo-mobile.svg" alt="" class="logo"></a>
  <a href="home.html"><img src="../../../public/img/car360.png" alt="ảnh logo" class="logo"></a>
  <ul id="nav">
    <li><a href="">Trang chủ</a></li>
    <li><a href="">Giới thiệu</a></li>
    <li><a href="">Ưu đãi</a></li>
    <li><a href="">Dịch vụ</a></li>
    <li><a href="">Tài khoản</a></li>
  </ul>
</div>