<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div id="header">
  <div class="content-header">
    <a href="/"><img src="./img/logo.png" alt="logo image" class="logo"></a>
    <ul id="nav">
      <li><a href="/">Trang chủ</a></li>
      <li><a href="intro">Giới thiệu</a></li>
      <li><a href="discount">Ưu đãi</a></li>
      <li><a href="">Dịch vụ</a></li>
      <li><a href="">Tài khoản</a></li>
    </ul>
  </div>
</div>