<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div id="header">
  <div class="content-header">
    <a href="/"><img src="./img/logo.png" alt="logo image" class="logo"></a>
    <ul id="nav">
      <li><a class="active" href="/">Trang chủ</a></li>
      <li><a href="intro">Giới thiệu</a></li>
      <li><a href="discount">Ưu đãi</a></li>
      <li>
        <a href="#">Dịch vụ</a>
        <div class="sub-nav row">
          <ul class="l-6">
            <li><a href="">Bảo hành</a></li>
            <li><a href="">Bảo dưỡng định kỳ</a></li>
            <li><a href="">Chi phí lăn bánh</a></li>
          </ul>
          <ul class="l-6">
            <li><a href="">Đăng ký lái thử</a></li>
            <li><a href="">So sánh xe</a></li>
          </ul>
        </div>
      </li>
      <li><a href="sign_in">Tài khoản</a></li>
    </ul>
  </div>
</div>