<div id="discount" class="row">
    <img class="discount-poster poster-red" src="./img/poster-red.jpg" alt="" srcset="">
    <img class="discount-poster poster-blue none" src="./img/poster-blue.png" alt="" srcset="">
    <div class="discount-item l-4">
        <img src="https://storage.googleapis.com/vinfast-data-01/styles/news_360x200/public/2022_01/1920x900_1641954229.jpg?itok=ACwxyY4q"
            alt="" class="discount-img">
        <span class="detail"><a href="#">Xem chi tiết</a></span>
        <div class="infor-discount">
            <h5 class="describe">Ngập tràn ưu đãi khi mua xe tại Car360 đón tết 2022</h5>
            <span class="date-start">31/01/2021</span>
            <span class="date-end none">31/12/2022</span>
        </div>
    </div>
    <div class="discount-item l-4">
        <img src="https://storage.googleapis.com/vinfast-data-01/styles/news_360x200/public/2021_07/vfe34_thumb_1625839166.jpg?itok=MvP053bO"
            alt="" class="discount-img">
        <span class="detail"><a href="#">Xem chi tiết</a></span>
        <div class="infor-discount">
            <h5 class="describe">Ưu đãi đặt biệt lên tới 70 triệu VNĐ khi mua xe điện tại Car360</h5>
            <span class="date-start">01/01/2021</span>
            <span class="date-end none">20/10/2022</span>
        </div>
    </div>
    <div class="discount-item l-4">
        <img src="https://storage.googleapis.com/vinfast-data-01/styles/news_360x200/public/2021_07/CSBH_T7_01_thumb_1625549179.jpg?itok=m1pfAhvp"
            alt="" class="discount-img">
        <span class="detail"><a href="#">Xem chi tiết</a></span>
        <div class="infor-discount">
            <h5 class="describe">Cơ hội sở hữu xe sang cùng hàng loạt ưu đãi tháng 04/2022</h5>
            <span class="date-start">01/11/2021</span>
            <span class="date-end none">01/12/2022</span>
        </div>
    </div>
    <div class="discount-item l-4">
        <img src="https://storage.googleapis.com/vinfast-data-01/styles/news_360x200/public/2021_05/VF_13_5_16x9_2_0.jpg?itok=e9bChewQ"
            alt="" class="discount-img">
        <span class="detail"><a href="#">Xem chi tiết</a></span>
        <div class="infor-discount">
            <h5 class="describe">Special offer mùa xuân 2022</h5>
            <span class="date-start">30/06/2021</span>
            <span class="date-end none">30/06/2022</span>
        </div>
    </div>
    <div class="discount-item l-4">
        <img src="https://techcrunch.com/wp-content/uploads/2020/06/Mobility-car-wave.png?w=1390&crop=1" alt=""
            class="discount-img">
        <span class="detail"><a href="#">Xem chi tiết</a></span>
        <div class="infor-discount">
            <h5 class="describe">Sessions mobility</h5>
            <span class="date-start">01/11/2021</span>
            <span class="date-end none">31/12/2022</span>
        </div>
    </div>
    <div class="discount-item l-4">
        <img src="https://storage.googleapis.com/vinfast-data-01/styles/news_360x200/public/2021_06/1056_PC_Banner%20VinFast_1920x1080_thumb.png?itok=IQoU4e3n"
            alt="" class="discount-img">
        <span class="detail"><a href="#">Xem chi tiết</a></span>
        <div class="infor-discount">
            <h5 class="describe">Cơ hội nhận thẻ Ambassador khi sở hữu Vinfast</h5>
            <span class="date-start">11/01/2021</span>
            <span class="date-end none">01/12/2021</span>
        </div>
    </div>
</div>