<div id="home">
    <div class="carousel">
        <div class="carousel-inner">
            <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
                checked="checked">
            <div class="carousel-item">
                <video class="block" type="video/mp4" autoplay="true" loop="true" muted="false">
                    <source src="./img/slide.mp4">
                </video>
            </div>
            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <img class="block" src="https://wallpaperaccess.com/full/40047.jpg">
            </div>
            <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item">
                <img class="block" src="https://c4.wallpaperflare.com/wallpaper/867/977/87/honda-civic-si-mugen-lights-hd-wallpaper-preview.jpg">
            </div>
            <label for="carousel-3" class="carousel-control prev control-1">‹</label>
            <label for="carousel-2" class="carousel-control next control-1">›</label>
            <label for="carousel-1" class="carousel-control prev control-2">‹</label>
            <label for="carousel-3" class="carousel-control next control-2">›</label>
            <label for="carousel-2" class="carousel-control prev control-3">‹</label>
            <label for="carousel-1" class="carousel-control next control-3">›</label>
            <ol class="carousel-indicators">
                <li>
                    <label for="carousel-1" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-2" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-3" class="carousel-bullet">•</label>
                </li>
            </ol>
        </div>
    </div>
    <div class="home-cn">
        <div class="home-cn-item bgrd-white">
            <h1 class="heading">Công nghệ thông minh cho tương lai</h1>
            <p class="paragraph">Đặt khách hàng làm trọng tâm, các mẫu xe thông minh được ứng dụng những công nghệ ưu việt hàng đầu thế giới, mở ra không gian hưởng thụ tiện nghi, giải trí hoàn hảo cùng trải nghiệm cá nhân hóa đáng giá nhất.</p>
            <img src="https://storage.googleapis.com/vinfast-data-01/cntm_1_1639672435.png" alt="" class="img-cn border-radius">
        </div>
        <div class="home-cn-item bgrd-black">
            <h1 class="heading">Thiết kế đầy đam mê</h1>
            <p class="paragraph">Kết hợp với nhà thiết kế xe nổi tiếng thế giới Pininfarina, Car360 mang đến chất lượng thiết kế đẳng cấp cho từng dòng xe. Theo đuổi triết lý trải nghiệm chạm sinh học, những chiếc xe sở hữu vẻ ngoài sang trọng đặc trưng cùng khoang nội thất đậm chất tương lai, được chăm chút trong từng chi tiết.</p>
            <img src="https://storage.googleapis.com/vinfast-data-01/cntm_2_1639672509.png" alt="" class="img-cn border-radius">
        </div>
        <div class="home-cn-item bgrd-white">
            <h1 class="heading">Đẳng cấp an toàn quốc tế</h1>
            <p class="paragraph">Đặt sự an tâm của khách hàng lên trên hết, những chiếc xe được trang bị các tính năng an toàn tối tân nhất để bảo vệ người lái và mọi hành khách trên xe, đáp ứng tiêu chuẩn khắt khe của các đánh giá xe uy tín hàng đầu thế giới như ASIAN, NACP,...</p>
            <img src="https://storage.googleapis.com/vinfast-data-01/cntm_3_1639672569.png" alt="" class="img-cn border-radius">
        </div>
    </div>
</div>