<div id="intro">
    <div class="intro-banner">
        <img class="banner-img block"
            src="https://www.rybrook.co.uk/lotus/wp-content/uploads/sites/21/2021/05/Rybrook-Lotus-Emira-e1625646530833-1920x650.jpg"
            alt="">
        <div class="cover-banner">
            <h1 class="title-banner">About Car360</h1>
            <ul class="banner-list">
                <li>Một trong những công ty đi đầu về lĩnh vực ô tô cũng như cung cấp các công nghệ hiện đại trang bị
                    cho ô tô tại Việt Nam.</li>
                <li>Trải nghiệm an toàn, tiện lợi trên mọi nẻo đường cùng với phong cách thiết kế sáng tạo, độc đáo tạo
                    nên giá trị thương hiệu.</li>
            </ul>
        </div>
    </div>
    <div class="intro-item row">
        <div class="half-item l-6">
            <img class="block" src="https://hanoimoi.com.vn/Uploads/images/tuandiep/2021/04/20/HNMO_Shanghai_EV.jpeg" alt="">
        </div>
        <div class="half-item l-6">
            <p>Với lịch sử phát triển hơn 30 năm, Car360 tự hào là một trong những công ty hàng đầu về ô tô tại thị trường Việt Nam cũng như các nước trong khu vực.
                Car360 hiện đang là đối tác kinh doanh của các tập đoàn lớn như Arb group, DD&amp;A, Honda, Suzuki, ...
            </p>
        </div>
    </div>
    <div class="intro-item row">
        <div class="half-item l-6">
            <p>Với dây chuyền sản xuất cùng với máy móc hiện đại, chuyên nghiệp</p>
        </div>
        <div class="half-item l-6">
            <img class="block" src="https://static.tapchitaichinh.vn/800x450/images/upload/tranhuyentrang/07042021/nissan-2313.jpg" alt="">
        </div>
    </div>
    <div class="intro-item row">
        <div class="half-item l-6">
            <img class="block" src="https://vovgiaothong.vn/Data/Sites/1/media/hoanganh/images/LINHKIEN.jpg" alt="">
        </div>
        <div class="half-item l-6">

        </div>
    </div>
    <div class="intro-item row">
        <div class="half-item l-6">

        </div>
        <div class="half-item l-6">
            <img class="block" src="https://katavina.com/uploaded/tin-tuc/cong-nghe-ai-1.jpg" alt="">
        </div>
    </div>
</div>