<div id="intro">
    <div class="intro-banner">
        <img class="banner-img block"
            src="https://www.rybrook.co.uk/lotus/wp-content/uploads/sites/21/2021/05/Rybrook-Lotus-Emira-e1625646530833-1920x650.jpg"
            alt="">
        <div class="cover-banner">
            <h1 class="title-banner">About Car360</h1>
            <ul class="banner-list">
                <li>Một trong những công ty đi đầu về lĩnh vực ô tô cũng như cung cấp các công nghệ hiện đại trang bị
                    cho ô tô tại Việt Nam.</li>
                <li>Trải nghiệm an toàn, tiện lợi trên mọi nẻo đường cùng với phong cách thiết kế sáng tạo, độc đáo tạo
                    nên giá trị thương hiệu.</li>
            </ul>
        </div>
    </div>
    <div class="intro-item row">
        <div class="half-item l-6">
            <img class="block" src="https://hanoimoi.com.vn/Uploads/images/tuandiep/2021/04/20/HNMO_Shanghai_EV.jpeg"
                alt="">
        </div>
        <div class="half-item l-6">
            <p>▪️ Với lịch sử phát triển hơn 30 năm, Car360 tự hào là một trong những công ty hàng đầu về ô tô tại thị
                trường Việt Nam cũng như các nước trong khu vực.
                Car360 hiện đang là đối tác kinh doanh của các tập đoàn lớn như Arb group, DD&amp;A, Honda, Suzuki, ...
            </p>
        </div>
    </div>
    <div class="intro-item row">
        <div class="half-item l-6">
            <p>
                ▪️ Sở hữu dây chuyền sản xuất được áp dụng những công nghệ kỹ thuật, máy móc hiện đại hàng đầu hiện
                nay, dễ dàng thích ứng với tình hình thực tế cũng như nhu cầu sử dụng chung của khách hàng.<br/>
                ▪️ Car360 mong muốn chăm chút từng chi tiết để tạo
                nên một tác phẩm toàn diện, đem lại cho khách hàng sự trải nghiệm tiện nghi vượt trội.
            </p>
        </div>
        <div class="half-item l-6">
            <img class="block"
                src="https://static.tapchitaichinh.vn/800x450/images/upload/tranhuyentrang/07042021/nissan-2313.jpg"
                alt="">
        </div>
    </div>
    <div class="intro-item row">
        <div class="half-item l-6">
            <img class="block" src="https://vovgiaothong.vn/Data/Sites/1/media/hoanganh/images/LINHKIEN.jpg" alt="">
        </div>
        <div class="half-item l-6">
            <p>▪️ Car360 rất may mắn có được sự phục vụ của những kỹ sư có trình độ cao, với nhiều năm kinh nghiệm trong nghề,
                nắm vững và hoàn toàn làm chủ các công nghệ, máy móc, góp phần to lớn trong việc tạo nên một thương hiệu uy tín, đáng tin cậy và vững bền theo thời gian.
            </p>
        </div>
    </div>
    <div class="intro-item row">
        <div class="half-item l-6">
            <p>▪️ Với mục tiêu đón đầu xu thế trong năm 2025, Car360 đang mở ra những dự án nghiên cứu với quy mô lớn nhằm phát triển nên những công nghệ hiện dại hơn nữa để phục vụ nhu cầu của khách hàng.
                <br>▪️ Không những thế, chúng tôi ưu tiên áp dụng trí tuệ nhân tạo trong nhiều chức năng ví dụ công nghệ kiểm soát an toàn người lái, nhận diện trạng thái tinh thần người lái, giữ làn đường cùng những chức năng giải trí tại màn hình trung tâm, hứa hẹn sẽ mang lại những trải nghiệm tiện nghi với sự chuyên nghiệp chưa từng có cho khách hàng.
            </p>
        </div>
        <div class="half-item l-6">
            <img class="block" src="https://katavina.com/uploaded/tin-tuc/cong-nghe-ai-1.jpg" alt="">
        </div>
    </div>
</div>