<div id="sign-in">
    <div class="modal-frm">
        <h2>Đăng nhập</h2>
        <form method="post" action="#" onsubmit="" name="signFrm">
            <input value="" name="name" placeholder="Tên tài khoản" type="text" class="input user-name border-radius">
            <div class="wrapper-pwd">
                <input name="password" placeholder="Mật khẩu" type="password" class="input password border-radius">
                <i class="eyes eye-open fa-solid fa-eye none"></i>
                <i class="eyes eye-close fa-solid fa-eye-slash none"></i>
            </div>
            <p class="forgot-pwd"><a href="#">Quên mật khẩu?</a></p>
            <label for="" class="errol"></label>
            <button disabled="disabled" id="btn" type="submit" class="btn submit-btn sign-in border-radius">Đăng nhập</button>
            <p class="no-account">Chưa có tài khoản?</p>
            <button type="button" onclick="" class="sub-btn submit-btn sign-up border-radius">Đăng ký tài khoản</button>
        </form>
    </div>
</div>