<div id="sign-up">
    <div class="modal-frm">
        <h2>Đăng ký tài khoản</h2>
        <form action="" name="signFrm">
            <input placeholder="Tên tài khoản" name="name" type="text" class="input user-name border-radius">
            <div class="wrapper-pwd">
                <input placeholder="Mật khẩu (Phải có ít nhất 8 ký tự)" type="password"
                    class="input password border-radius">
                <i class="eyes eye-open fa-solid fa-eye none"></i>
                <i class="eyes eye-close fa-solid fa-eye-slash none"></i>
            </div>
            <div class="wrapper-pwd">
                <input placeholder="Nhập lại mật khẩu" name="password" type="password"
                    class="input password-again border-radius">
                <i class="eyes eye-open fa-solid fa-eye none"></i>
                <i class="eyes eye-close fa-solid fa-eye-slash none"></i>
            </div>
            <label for="" class="errol"></label>
            <p class="rules">Bằng việc nhấn nút đăng ký bên dưới, tôi xác nhận đã đọc, hiểu và đồng ý với các Điều kiện
                và Điều khoản của Car360.</p>
            <button disabled="disabled" id="btn" type="submit" class="btn submit-btn sign-up border-radius ">Đăng ký</button>
            <p class="no-account">Đã có tài khoản?</p>
            <button type="button" onclick="" class="sub-btn submit-btn sign-in border-radius">Đăng nhập</button>
        </form>
    </div>
</div>